* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 360px;
    border-collapse: collapse;
}

.wrap {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    margin: 20px 0;
}

.cal {
    font-size: 12px;
    color: #333;
    border-top: 2px solid #999;
}

.cal th,
.cal td {
    border: 1px solid #eee;
    padding: 10px;
}

.cal th {
    background-color: #adcce5;
    color: #111;
}

.cal td {
    text-align: right;
    cursor: pointer;
}
/* cursor: pointer 마우스가져가면 손까락나옴 */
.cal td:hover {
    background-color: #eee;
}
/* :hover마우스 가져가면 색깔 바뀜*/
.cal th:last-child,
.cal td:last-child {
    color: #332e74;
}

.cal th:first-child,
.cal td:first-child {
    color: red;
}

.cal td.today {
    background-color: rgb(81, 81, 238);
    color: #fff;
}
